<!DOCTYPE html>
<html ng-app="thermoSmart">
    <head>
        <title>{{title}}</title>

        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <link rel="icon" type="image/png" href="{{assetsBaseStaticPath}}/favicon-32x32.png" sizes="32x32">
        <link rel="icon" type="image/png" href="{{assetsBaseStaticPath}}/favicon-194x194.png" sizes="194x194">

        <link href="https://fonts.googleapis.com/css?family=Jura" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    </head>
    <body style="background-image: url({{assetsStaticBasePath}}/images/{{backgroundImage}})">
        {{{body}}}

        <script type="text/javascript" src="{{assetsBasePath}}/inline.bundle.js"></script>
        <script type="text/javascript" src="{{assetsBasePath}}/polyfills.bundle.js"></script>
        <script type="text/javascript" src="{{assetsBasePath}}/styles.bundle.js"></script>
        <script type="text/javascript" src="{{assetsBasePath}}/vendor.bundle.js"></script>
        <script type="text/javascript" src="{{assetsBasePath}}/main.bundle.js"></script>
    </body>
</html>
